{% extends "base_2.html" %}
{% block content %}


  <section class="blog-post style-six pad-75">

        <div class="container">
            <!-- <div class="row">
                <div class="col-sm-12 text-center page-title mb75"><h2></h2></div>
            </div> -->




            <div class="row">
                <div  class="col-sm-12">

                    
 <div style="padding:30px" id="outer">
  <div id="inner">

    <h1 style="font-size: 28px">About</h1>
</div>

</div>
    <p>Tangla Gardens is located within Ugenya sub-county, Siaya County,  along Odiado – Ukwala Road.</p><br>

    <p>The garden has been in existence for some time but come 2021, A paradigm shift has seen the growing of the following herbs ;- Oregano, Thyme, Basil, Parsley, Spear mint, Coriander, Rosemary and Garlic. Also planted are Rose flowers, Pomegranate, Pawpaw, Neem, Strawberries, Red thunder pepper, Grapes and Coffee. This journey has been guided by Premier Seed Company in order to comply with Good Agricultural Practices (GAP) for fruits and vegetables.
</p>
<br>
<p>
  The farm offers an equal employment opportunity to Kenyans from across the country and  has a workforce drawn from counties outside Siaya such as Busia, Kakamega, Kwale, Bungoma, Vihiga, Makueni and Machakos. <br><br>
  In response to H.E President Uhuru Kenyatta’s call for the engagement of ex National Youth Service (NYS) personnel, Tangla Gardens has employed six (6) personnel trained in Agriculture. They are drawn from the following counties; Busia, Bungoma, Kakamega, Vihiga (one each) and Siaya (two).

</p><br>

<p>The irrigation wing is managed by Tiokos Greenhouse LTD, based in Naivasha. The digitization of the farm systems is managed by NOPA Solutions LTD, a team of youth graduates based in Buruburu, Nairobi on a voluntary basis to hone their application of ICT in agriculture as they await employment.
</p><br>

<p>Though the farm is currently a sole ownership venture, it is envisioned that it will expand and attract resources to put Tangla Gardens on the World map. It is also envisaged that this venture will open up the thinking of like minded people from the area so that they follow suit thus impacting positively on social-economic needs.
</p>

</div>
</div>





</div>
</div>
</div>
</section>


{% endblock content %}
