{% extends "base_2.html" %}
{% block content %}





  <section class="blog-post style-six pad-75">
        <div class="container">
    

            <div class="row">
                <div class="col-sm-12">

                   <div style="padding: 30px;" id="outer">
  <div id="inner">
    <h1 style="font-size: 28px;color:#1c4646" >Floriculture</h1>


</div>
</div>



               

                    <article class="has-animation" data-delay="0">
                        <div class="entry-media float-right">
                          <img style="height:181.3px;" src="{{ url_for('static', filename='img/flo1.jpg') }}" alt="post-image"></div>

                        <div style="height: 240px" class="entry-meta-content float-left">


                            <h2 class="entry-title"><a href="">Flowers we grow.</a></h2>

                             <p class="entry-title">1) Athena White Rose </p>
                            <p class="entry-title">2) Top Secret Red Rose </p>
                            <p class="entry-title">3) Adaptation Yellow Flower</p>
                            <p class="entry-title">4) Celeb Gold Flower </p>




                        </div>

                            
                    </article>  

                                                  

                </div>
            </div>

</div>

{% endblock content %}
