{% extends "base_2.html" %}
{% block content %}


  <section class="blog-post style-six pad-75">

        <div class="container">
            <!-- <div class="row">
                <div class="col-sm-12 text-center page-title mb75"><h2></h2></div>
            </div> -->




            <div class="row">
                <div class="col-sm-12">

                    
 <div style="padding:30px" id="outer">
  <div id="inner">
    <h1 style="font-size: 28px">Gallery</h1>


</div>
</div>

<!--  <div style="padding:30px" id="outer">
  <div id="inner">
 -->
<main>

<!--   <div class="container"> -->

    <div class="gallery">



<!--            <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='img/_DSC0406.JPG') }}" class="gallery-image" alt="">

        <div class="gallery-item-type">

          <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

        </div>

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
          </ul>

        </div>

      </div>
 -->


         <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='img/_DSC0406.JPG') }}" class="gallery-image" alt="">

        <div class="gallery-item-type">

          <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

        </div>

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
          </ul>

        </div>

      </div>






        <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='img/_DSC0432.JPG') }}" class="gallery-image" alt="">

        <div class="gallery-item-type">

          <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

        </div>

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
          </ul>

        </div>

      </div>








      <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='img/_DSC0396.JPG') }}" class="gallery-image" alt="">

        <div class="gallery-item-type">

          <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

        </div>

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
          </ul>

        </div>

      </div>






      <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='img/_DSC0526.JPG') }}" class="gallery-image" alt="">

        <div class="gallery-item-type">

          <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

        </div>

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
          </ul>

        </div>

      </div>













        <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='img/g2.jpg') }}" class="gallery-image" alt="">

        <div class="gallery-item-type">

          <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

        </div>

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
          </ul>

        </div>

      </div>


      <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='user_photos/g.jpg') }}" class="gallery-image" alt="">

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes">
              <span class="visually-hidden">
                
              </span>
              Tschorn</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> </li>
          </ul>

        </div>

      </div>

    <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='img/g1.jpg') }}" class="gallery-image" alt="">

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden"></span> Basil</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> </li>
          </ul>

        </div>

      </div>


     

      <div class="gallery-item" tabindex="0">

        <img src="{{ url_for('static', filename='img/basil.jpg') }}" class="gallery-image" alt="">

        <div class="gallery-item-type">

          <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

        </div>

  
<!-- 
        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 30</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
          </ul>

        </div> -->

      </div>

    </div> 
    <!-- End of gallery -->
    <br>

    <div class="loader"></div>

  </div>
  <!-- End of container -->

</main> 

</div>
</div>


</div>
</div>
</div>
</section><br>


{% endblock content %}
