{% extends "base_2.html" %}
{% block content %}





  <section class="blog-post style-six pad-75">
        <div class="container">
    

            <div class="row">
                <div class="col-sm-12">

                   <div style="padding: 30px;" id="outer">
  <div id="inner">
    <h1 style="font-size: 28px;color:#1c4646">Herbs and Spices</h1>


</div>
</div>



               

                    <article class="has-animation" data-delay="0">
                        <div class="entry-media float-right">
                          <img style="height:181.3px;" src="{{ url_for('static', filename='img/herbs2.jpg') }}" alt="post-image"></div>

                        <div class="entry-meta-content float-left">


                            <h2 class="entry-title"><a href="">Herbs and Spices we grow. </a></h2>

                            <p class="entry-title">1) Oregano</p>
                            <p class="entry-title">2) Thyme</p>
                            <p class="entry-title">3) Basil</p>
                            <p class="entry-title">4) Parsley</p>
                            <p class="entry-title">5) Chives</p>
                            <p class="entry-title">6) Spear mint</h2>
                            <p class="entry-title">7) Red thunder pepper</p>



                        

                        </div>

                            
                    </article>  

                                                  

                </div>
            </div>

</div>

{% endblock content %}
