{% extends "base_2.html" %}

{% block content %}




<!--  <div style="padding-top: 30px;" id="outer">
  <div id="inner">
       




               <nav  id="main-menu" class="text-center">

                   <h4 style="font-size: 20px">learn by language</h4>

            <ul>
                <li><a style="text-decoration: none;font-size: 13px;border: 3px solid #1c4646;padding:5px;border-radius:6px" href="" class="entry-read-more"><span></span>python</a></li>
                <li> <a style="text-decoration: none;font-size: 13px;border: 3px solid #1c4646;padding:5px;border-radius:6px" href="" class="entry-read-more"><span></span>java</a></li>
                 <li> <a style="text-decoration: none;font-size: 13px;border: 3px solid #1c4646;padding:5px;border-radius:6px" href="" class="entry-read-more"><span></span>php</a></li>
                  <li> <a style="text-decoration: none;font-size: 13px;border: 3px solid #1c4646;padding:5px;border-radius:6px" href="" class="entry-read-more"><span></span>ruby on rails</a></li>
                   <li> <a style="text-decoration: none;font-size: 13px;border: 3px solid #1c4646;padding:5px;border-radius:6px" href="" class="entry-read-more"><span></span>javascript</a></li>
                    <li> <a style="text-decoration: none;font-size: 13px;border: 3px solid #1c4646;padding:5px;border-radius:6px" href="" class="entry-read-more"><span></span>android</a></li>
            </ul>
        </nav>


</div>
</div> -->


  <section class="blog-post style-six pad-75">

        <div class="container">
            <!-- <div class="row">
                <div class="col-sm-12 text-center page-title mb75"><h2></h2></div>
            </div> -->




            <div class="row">
                <div class="col-sm-12">



 <div style="padding:30px" id="outer">
  <div id="inner">
    <h1 style="font-size: 28px">Popular products </h1>


</div>
</div>

                <article class="has-animation" data-delay="0">
                        <div class="entry-media float-right">

                            <img style="height:181.3px;" src="{{ url_for('static', filename='img/herbs2.jpg') }}" alt="post-image">


                        </div>
                        <div style="height: 300px" class="entry-meta-content float-left">


                            <h1 class="entry-title"><a style="color:#1c4646" href="{{ url_for('herbs') }}">Herbs and Spices </a></h1>


                        <p>In general use, herbs are a widely distributed and widespread group of plants, consumed for macronutrients, with savory or aromatic properties that are used for flavoring and garnishing food, for medicinal purposes, or for fragrances</p>
                            <div class="entry-content-bottom">



                              <!--     <a style="text-decoration: none;font-size: 13px;border: 3px solid #1c4646;padding:5px;border-radius:6px" href="{{ url_for('herbs') }}" class="entry-read-more"><span></span>view more</a>


                                <ul class="social-share list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                           
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter-square"></i></a></li>

                                </ul>
                                <span class="entry-meta bold float-right">Share</span> -->
                            </div>
                        </div>
                        
                    </article>  









       <article class="has-animation" data-delay="0">
                        <div class="entry-media float-right">

                            <img style="height:181.3px;" src="{{ url_for('static', filename='img/flo1.jpg') }}" alt="post-image">


                        </div>

                        <div style="height: 230px" class="entry-meta-content float-left">


                            <h2 class="entry-title"><a style="color:#1c4646" href="{{ url_for('dairy') }}">Floriculture </a></h2>


                        <p>Floriculture is a discipline of horticulture concerned with the growing and marketing of flowers and ornamental plants, in addition to, usage in floral arrangement and design..</p>
                            <div class="entry-content-bottom">



                          
                            </div>
                        </div>
                        
                    </article> 






















<!-- 
                           <article class="has-animation" data-delay="0">
                        <div class="entry-media float-right">

                            <img style="height:181.3px;" src="{{ url_for('static', filename='img/kuku.jpg') }}" alt="post-image">


                        </div>
                        <div class="entry-meta-content float-left">


                            <h2 class="entry-title"><a style="color:#1c4646" href="{{ url_for('poultry') }}">Poultry Farming </a></h2>


                        <p>Poultry farming is the form of animal husbandry which raises domesticated birds such as chickens, ducks, turkeys and geese to produce meat or eggs for food. It has originated from the agricultural era. Poultry – mostly chickens – are farmed in great numbers.</p>
                            <div class="entry-content-bottom">



                            </div>
                        </div>
                        
                    </article> 
 -->

















                           <article class="has-animation" data-delay="0">
                        <div class="entry-media float-right">

                            <img style="height:181.3px;" src="{{ url_for('static', filename='img/pea4.jpg') }}" alt="post-image">


                        </div>
                        <div style="height: 320px" class="entry-meta-content float-left">


                            <h2 class="entry-title"><a style="color:#1c4646" href="{{ url_for('ornament') }}">Ornamental Birds </a></h2>


                        <p>An ornamental animal is an animal kept for display or curiosity, often in a park. A wide range of mammals, birds and fish have been kept as ornamental animals. Ornamental animals has also preserved breeds, types and even species which have become rare or extinct elsewhere. </p>
                            <div class="entry-content-bottom">



                            <!--       <a style="text-decoration: none;font-size: 13px;border: 3px solid #1c4646;padding:5px;border-radius:6px" href="{{ url_for('ornament') }}" class="entry-read-more"><span></span>view more</a> -->


                          <!--       <ul class="social-share list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter-square"></i></a></li>

                                </ul>
                                <span class="entry-meta bold float-right">Share</span> -->
                            </div>
                        </div>
                        
                    </article> 


                </div>
            </div>
        </div>
    </section>
{% endblock content %}
