{% extends "base_2.html" %}
{% block content %}





  <section class="blog-post style-six pad-75">
        <div class="container">
    

            <div class="row">
                <div class="col-sm-12">

                   <div style="padding: 30px;" id="outer">
  <div id="inner">
    <h1 style="font-size: 28px;color:#1c4646">Ornamental Birds</h1>


</div>
</div>



               

                    <article class="has-animation" data-delay="0">
                        <div class="entry-media float-right">
                          <img style="height:181.3px;" src="{{ url_for('static', filename='img/pea4.jpg') }}" alt="post-image"></div>

                        <div class="entry-meta-content float-left">


                            <h2 class="entry-title"><a href="">Ornamental Birds we keep</a></h2>


                            <p class="entry-title">1) Peacock bird</p>
                            <p class="entry-title">2) Guineafowl</p>
                            <p class="entry-title">3) Chicken bantam</p>
                            <p class="entry-title">4) Grey crowned crane</p>
                            <p class="entry-title">5) Egyptian goose</p>
                            <p class="entry-title">6) Canadian duck</h2>
                            <p class="entry-title">7) Fantail pigeon</p>


                            <div class="entry-content-bottom">

                            


                              
                           

                            
                            </div>
                        </div>

                            
                    </article>  

                                                  

                </div>
            </div>

</div>

{% endblock content %}
